.main-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-gap: 10px;
  width: 100vw;
  height: 100vh;
}

.repo-container {
  grid-column: 1;
  grid-row: 1 / 3;
  overflow: auto;
}

.commits-container {
  grid-column: 2;
  grid-row: 1;
  overflow: auto;
}

.diffs-container {
  grid-column: 2;
  grid-row: 2;
  overflow: auto;
}

.dir-listing-container {
  grid-column: 3;
  grid-row: 1 / 3;
  overflow: auto;
}

.repo-list {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.commit {
  width: 80ch;
}

.diff {
  width: 80ch;
}

.fileview-button {
  border: none;
  background: transparent;
  font-size: 1em;
  text-decoration: underline;
  cursor: pointer;
  padding: 1px;
}