h1 {
  font-size: 1em;
}

.placeholder {
  color: WhiteSmoke;
  background-color: WhiteSmoke;
  line-height: 75%;
}

.main-layout {
  display: flex;
  flex-direction: row;
}

.middle-column {
  display: flex;
  flex-direction: column;
}

.commits-container {
  max-height: 30vh;
  overflow: auto;
}

.diffs-container {
  max-height: 70vh;
  overflow: auto;
}

.commit {
  width: 80ch;
}

.diff {
  width: 80ch;
}

.commit-hash {
  font-size: 0.75em;
}
.monospace {
  font-family: monospace;
}

.fileview-button {
  border: none;
  background: transparent;
  font-size: 1em;
  text-decoration: underline;
  cursor: pointer;
}