body {
  background: #282a36;
  color: #f8f8f2;
}

a {
  color: #bd93f9;
}

button, .form-button {
  background: #44475a;
  color: #f8f8f2;
  border: 2px;
  font-size: 0.75em;
  padding: 0.25em 0.5em;
  border: 1px solid #6272a4;
}

.commit-hash {
  color: #6272a4;
}

.error-message {
  color: darkred;
}

.status-message {
  color: darkgreen;
}

.fileview-button {
  color: #ff79c6;
}